//
//
// Styles de boutons et autres composants du design
//
//


// GRADIENTS

.grad-blueSky{
  @include gradient(rgba(54, 209, 220, 0.6), rgba(91, 134, 229, 0.6));
}

.grad-sunset{
  @include gradient(rgba(75, 54, 11, 0.6), rgba(255, 130, 53, 0.6));
}

.grad-clouds{
  @include gradient(rgba(115, 200, 169, 0.6), rgba(55, 59, 68, 0.6));
}

.grad-rain{
  @include gradient(rgba(75, 121, 161, 0.6), rgba(40, 62, 81, 0.6));
}

.grad-cold{
  @include gradient(rgba(242, 252, 254, 0.6), rgba(28, 146, 210, 0.6));
}

.grad-hot{
  @include gradient(rgba(244, 107, 69, 0.6), rgba(238, 168, 73, 0.6));
}

.grad-night{
  @include gradient(rgba(20, 30, 48, 0.9), rgba(36, 59, 85, 0.9));
}

.grad-snow{
  @include gradient(rgba(76, 161, 175, 0.6), rgba(196, 224, 229, 0.6));
}

.grad-christmas{
  @include gradient(rgba(47, 115, 54, 0.6), rgba(170, 58, 56, 0.6));
}

.grad-halloween{
  @include gradient(rgba(17, 17, 17, 0.6), rgba(219, 122, 25, 0.6));
}

.grad-feteNationale{
  @include gradient(rgba(8, 87, 158, 0.6), rgba(153, 32, 32, 0.6));
}



//BUTTONS

input, button{
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}




//INPUTS

input[type="search"]{
  background: transparent;
  border: none;
  font-size: 1em;
  padding: 0.3em 0;
  color: white;
  font-family: 'Proxima Thin';
  border-bottom: solid transparent 1px;
  transition: 0.3s border ease-in-out, 0.3s width ease-in-out;
  @include breakpoint(mobile){
    font-size: 1.5em;
  }
}


//SEARCH AUTO-COMPLETE

.ui-menu{
  width: 12em;
  .ui-menu-item{
    background-color: rgba(255, 255, 255, .5);
    color: $black;
    padding: 0.3em;
    cursor: pointer;
    @include breakpoint(mobile){
      font-size: 1.5em;
    }
    @include breakpoint(desktop) {
      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}
